<div class="intl-tel">
    <ng-container *ngIf="allowDropDown; else disallowDropdown">
        <div class="intl-tel-flag dropdown" appDropdown>
            <div class="intl-tel-flag__selected dropdown__toggle" appDropdownOpen>
                <i class="flag" [ngClass]="'flag-' + selectedCountry.flagClass"></i>
            </div>
            <ul class="intl-tel-flag__list dropdown__area" appDropdownNotClosableZone>
                <li class="intl-tel-flag__item" *ngFor="let country of preferredCountriesInDropDown" (click)="onCountrySelect(country, focusable)">

                    <i class="flag" [ngClass]="'flag-' + country.flagClass"></i>
                    <span class="intl-tel-flag__country-name">
                        {{country.name}}
                        <span class="intl-tel-flag__dial-code">+{{country.dialCode}}</span>
                    </span>
                </li>
                <li class="intl-tel-flag__divider" *ngIf="preferredCountriesInDropDown?.length"></li>
                <li class="intl-tel-flag__item" *ngFor="let country of allCountries" (click)="onCountrySelect(country, focusable)">
                    <i class="flag" [ngClass]="'flag-' + country.flagClass"></i>
                    <span class="intl-tel-flag__country-name">
                        {{country.name}}
                        <span class="intl-tel-flag__dial-code">+{{country.dialCode}}</span>
                    </span>
                </li>
            </ul>
        </div>
    </ng-container>
    <ng-template #disallowDropdown>
        <div class="intl-tel-flag">
            <div class="intl-tel-flag__selected">
                <i class="flag" [ngClass]="'flag-' + selectedCountry.flagClass"></i>
            </div>
        </div>
    </ng-template>
    <input type="tel" [attr.id]="inputId" class="intl-tel__input" autocomplete="off" (keypress)="onInputKeyPress($event)"
        [(ngModel)]="phone_number" (ngModelChange)="onPhoneNumberChange()" [placeholder]="selectedCountry.placeHolder"
        #focusable>
</div>