<div class="form-search" [class.form-search_disabled]="disabled" [class.form-search_open]="dropdownState"
    [class.form-search_loading]="isSearching">
    <div class="form-search__i">
        <ng-container *ngIf="!open;else searchInputTemplate">
            <div [ngClass]="{'form-search__btn': selectedResult && ((selectedResult.descriptions | valueByLang:'name') || selectedResult.name), 'form-search__placeholder': !selectedResult || (!selectedResult.descriptions && !selectedResult.name)}"
                (click)="openSearch($event)">
                {{ (selectedResult?.descriptions | valueByLang:'name') || selectedResult?.name ||placeholder }}
            </div>
            <i class="form-search__icon fs fs-arrow-down" (click)="openSearch($event)"></i>
        </ng-container>
        <ng-template #searchInputTemplate>
            <input class="form-search__input" appAutofocus type="text" [attr.placeholder]="placeholder" autocomplete="off"
                [(ngModel)]="query" [disabled]="disabled">
            <i class="form-search__icon fs fs-arrow-up"></i>
        </ng-template>
        <div class="form-search__icon-loading"></div>
    </div>
    <div class="form-search__area clearfix">
        <div class="form-search__content">
            <ng-container *ngIf="results?.length > 0;else emptyResult">
                <div class="form-search__result" *ngFor="let result of results" (click)="select(result)">
                    <ng-container *ngIf="template;else withoutTemplate" [ngTemplateOutlet]="template"
                        [ngTemplateOutletContext]="{result: result}">
                    </ng-container>
                    <ng-template #withoutTemplate>
                        {{ result?.descriptions | valueByLang:'name' }}
                    </ng-template>
                </div>
            </ng-container>

            <ng-template #emptyResult>
                <app-empty title="HEADER_SEARCH_EMPTY.TITLE" text="HEADER_SEARCH_EMPTY.TEXT"></app-empty>
            </ng-template>
        </div>
    </div>
</div>