<section id="s01" class="s01">
        <div class="container">
            <div class="s01__header" [innerHTML]="text1 + '<br/>' + text2"></div>
            <div class="s01__text" [innerHTML]="text3 + ' <span class=\'letter\'>🇺🇦</span>'"></div>
    
            <a href="mailto:info@stpnnk.top" class="contact-me">Contact me</a>
            <app-animation></app-animation>
        </div>
        <div class="scroll-indicator"></div>
    </section>
    <section id="about" class="about">
        <div class="container">
            ✋ Hi, I've been a <b>web developer</b> 💻 since 2013.<br />
            I consider myself an enthusiast, 'cause I enjoy taking part in every project. <br />
            This is a good opportunity for me to learn, to get new skills, and to meet new interesting people. <br />
            First of all, to make a website, I concentrate on what the user need, then, I do my work <b>pixel-by-pixel</b>.<br />
            I create perfect UI solutions using HTML, CSS, Javascript, etc. Providing excellent feedback, I can guarantee a
            quick and high-quality work. You'll get a good experience cooperating with me.<br />
    
            <a href="mailto:info@stpnnk.top" class="contact-me">Contact me</a>
        </div>
    </section>
    <section id="skills" class="skills">
        <div class="container">
            <div class="skills__header">
                I'm <b>web developer</b> and i have skills 💪:
            </div>
            <div class="row">
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/angular.png" />
                        </div>
                        <div class="skill__name">
                            Angular 7+
                        </div>
                        <div class="skill__period">
                            2+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/node.svg" />
                        </div>
                        <div class="skill__name">
                            Node JS
                        </div>
                        <div class="skill__period">
                            1+ year
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/wordpress.svg" />
                        </div>
                        <div class="skill__name">
                            Wordpress
                        </div>
                        <div class="skill__period">
                            3+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Laravel
                        </div>
                        <div class="skill__period">
                            2+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/javascript.svg" />
                        </div>
                        <div class="skill__name">
                            JavaScript
                        </div>
                        <div class="skill__period">
                            3+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/html5.svg" />
                        </div>
                        <div class="skill__name">
                            HTML
                        </div>
                        <div class="skill__period">
                            5+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            CSS
                        </div>
                        <div class="skill__period">
                            5+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/sass.svg" />
                        </div>
                        <div class="skill__name">
                            SCSS
                        </div>
                        <div class="skill__period">
                            3+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/greensock.svg" />
                        </div>
                        <div class="skill__name">
                                GreenSock, ScrollMagic
                        </div>
                        <div class="skill__period">
                            1 year
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/webgl.svg" />
                        </div>
                        <div class="skill__name">
                                WebGL
                        </div>
                        <div class="skill__period">
                            6 months
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/gulp.svg" />
                        </div>
                        <div class="skill__name">
                                Gulp
                        </div>
                        <div class="skill__period">
                            3+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="/assets/img/github.svg" />
                        </div>
                        <div class="skill__name">
                                Git
                        </div>
                        <div class="skill__period">
                            2+ years
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-block" id="work">
        <div class="container">
            <div class="page-block__header">My projects</div>
            <app-module-loading [isLoading]="projectsLoading"></app-module-loading>
            <div class="page-block__list" *ngIf="projects">
                <a class="work-item" *ngFor="let project of projects" [routerLink]="project.slug">
                    <div class="mockup">
                        <div class="mockup__hours">{{ project?.hours }}</div>
                        <div class="mockup-imac">
                            <img class="mockup-imac__img" src="/assets/img/macbook_pro.png">
                            <div class="mockup-imac__i" [style.backgroundImage]="'url(/assets/img/' + project.slug + '-desktop.png)'"></div>
                        </div>
                        <div class="mockup-iphone">
                            <img class="mockup-iphone__img" src="/assets/img/iphone_x.png">
                            <div class="mockup-iphone__i" [style.backgroundImage]="'url(/assets/img/' + project.slug + '-mobile.png)'"></div>
                        </div>
                        <!-- <div class="mockup-ipad">
                            <img class="mockup-ipad__img" src="/assets/img/ipad_pro.png">
                            <div class="mockup-ipad__i" style="background-image: url(/public/img/reshop-tablet.png)"></div>
                        </div> -->
                    </div>
    
                    <div class="work-item__title">
                        {{ project.name }}
                    </div>
                    <div class="work-item__subtitle">
                        {{ project.label }}
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="page-block" id="prices">
        <div class="container">
            <div class="page-block__header">
                Prices
                <div class="hour-price">
                    <span>From</span>
                    <b>USD 20</b>
                    <span>per hour</span>
                </div>
            </div>

            <div class="prices-row">
                <div class="prices-row__label">
                    <!-- Разработка -->
                </div>
                <div class="prices-row__list">
                    <a href="mailto:info@stpnnk.top" class="prices-row__item">
                        <div class="prices-row__header">
                            Corporate websites
                        </div>
                        <div class="prices-row__text">
                            We know how to make websites for businesses of any scale. And we love to do it.
                        </div>
                        <div class="prices-row__price">
                            from 800 USD
                        </div>
                        <div class="prices-row__link">Let's discuss</div>
                    </a>
                    <a href="mailto:info@stpnnk.top" class="prices-row__item mark">
                        <div class="prices-row__header">
                            Landing Pages
                        </div>
                        <div class="prices-row__text">
                            We highlight product and service advantages and turn users into buyers.
                        </div>
                        <div class="prices-row__price">
                            from 500 USD
                        </div>
                        <div class="prices-row__link">Let's discuss</div>
                    </a>
                    <a href="mailto:info@stpnnk.top" class="prices-row__item">
                        <div class="prices-row__header">
                            Online stores
                        </div>
                        <div class="prices-row__text">
                            People love to buy online. And we love to create friendly online stores of any complexity.
                        </div>
                        <div class="prices-row__price">
                            from 1200 USD
                        </div>
                        <div class="prices-row__link">Let's discuss</div>
                    </a>
                    <a href="mailto:info@stpnnk.top" class="prices-row__item">
                        <div class="prices-row__header">
                            WOW sites
                        </div>
                        <div class="prices-row__text">
                            We love going beyond creativity, design, and development. That is how WOW sites appear.
                        </div>
                        <div class="prices-row__price">
                            from 1000 USD
                        </div>
                        <div class="prices-row__link">Let's discuss</div>
                    </a>
                    <a href="mailto:info@stpnnk.top" class="prices-row__item">
                        <div class="prices-row__header">
                            Services and portals
                        </div>
                        <div class="prices-row__text">
                            Big data requires big services. We use the most advanced methods to develop big.
                        </div>
                        <div class="prices-row__price">
                            from 2000 USD
                        </div>
                        <div class="prices-row__link">Let's discuss</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    <div class="contact" id="contact">
        <a href="mailto:info@stpnnk.top" class="contact__email">info@stpnnk.top</a>
    
        <div class="contact-soc">
            <a href="https://t.me/stepanenko3" target="_blank" class="contact-soc__item">
                <i class="fs fs-telegram"></i>
            </a>
            <a href="https://www.facebook.com/stpnnk" target="_blank" class="contact-soc__item">
                <i class="fs fs-facebook"></i>
            </a>
            <a href="https://www.instagram.com/stepanenko3/" target="_blank" class="contact-soc__item">
                <i class="fs fs-instagram"></i>
            </a>
            <a href="https://github.com/stepanenko3" target="_blank" class="contact-soc__item">
                <i class="fs fs-github"></i>
            </a>
        </div>
    </div>