<section id="s01" class="s01">
        <div class="container">
            <div class="s01__header" [innerHTML]="text1 + '<br/>' + text2"></div>
            <div class="s01__text" [innerHTML]="text3 + ' <span class=\'letter\'>🇺🇦</span>'"></div>
    
            <app-animation></app-animation>
    
            <div class="contact-me">Contact me</div>
        </div>
        <div class="scroll-indicator"></div>
    </section>
    <section id="about" class="about">
        <div class="container">
            ✋ Hi, I've been a web developer 💻 since 2013.<br />
            I consider myself an enthusiast, 'cause I enjoy taking part in every project. <br />
            This is a good opportunity for me to learn, to get new skills, and to meet new interesting people. <br />
            First of all, to make a website, I concentrate on what the user need, then, I do my work pixel-by-pixel.<br />
            I create perfect UI solutions using HTML, CSS, Javascript, etc. Providing excellent feedback, I can guarantee a
            quick and high-quality work. You'll get a good experience cooperating with me.<br />
    
            <div class="contact-me">Contact me</div>
        </div>
    </section>
    <section id="skills" class="skills">
        <div class="container">
            <div class="skills__header">
                I'm <b>web developer</b> and i have skills 💪:
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/angular.png" />
                        </div>
                        <div class="skill__name">
                            Angular 7
                        </div>
                        <div class="skill__period">
                            1,5+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Node JS
                        </div>
                        <div class="skill__period">
                            1+ year
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Wordpress
                        </div>
                        <div class="skill__period">
                            3,5+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Opencart
                        </div>
                        <div class="skill__period">
                            4+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Laravel
                        </div>
                        <div class="skill__period">
                            2+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Wordpress
                        </div>
                        <div class="skill__period">
                            3,5+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Opencart
                        </div>
                        <div class="skill__period">
                            4+ years
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="skill">
                        <div class="skill__img">
                            <img src="https://stpnnk.top/public/img/laravel.png" />
                        </div>
                        <div class="skill__name">
                            Laravel
                        </div>
                        <div class="skill__period">
                            2+ years
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="page-block" id="work">
        <div class="container">
            <div class="page-block__header">My projects</div>
            <app-module-loading [isLoading]="projectsLoading"></app-module-loading>
            <div class="page-block__list" *ngIf="projects">
                <a class="work-item" *ngFor="let project of projects" [routerLink]="project.slug">
                    <div class="mockup">
                        <div class="mockup-imac">
                            <img class="mockup-imac__img" src="/assets/img/macbook_pro.png">
                            <div class="mockup-imac__i" style="background-image: url(/public/img/reshop-desktop.png)"></div>
                        </div>
                        <div class="mockup-iphone">
                            <img class="mockup-iphone__img" src="/assets/img/iphone_x.png">
                            <div class="mockup-iphone__i" style="background-image: url(/public/img/reshop-phone.png)"></div>
                        </div>
                        <div class="mockup-ipad">
                            <img class="mockup-ipad__img" src="/assets/img/ipad_pro.png">
                            <div class="mockup-ipad__i" style="background-image: url(/public/img/reshop-tablet.png)"></div>
                        </div>
                    </div>
    
                    <div class="work-item__title">
                        {{ project.name }}
                    </div>
                    <div class="work-item__subtitle">
                        {{ project.label }}
                    </div>
                </a>
            </div>
        </div>
    </section>
    
    <section class="page-block" id="prices">
        <div class="container">
            <div class="page-block__header">Prices</div>
            <div class="prices-row">
                <div class="prices-row__label">
                    Разработка
                </div>
                <div class="prices-row__list">
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item mark">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                    <div class="prices-row__item mark">
                        <div class="prices-row__header">
                            Индивидуальный проект
                        </div>
                        <div class="prices-row__text">
                            Превосходные сайты для достижения ваших целей
                        </div>
                        <div class="prices-row__header">
                            от 800 USD
                        </div>
                        <a href="#" class="prices-row__link">Узнать стоимость</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="contact" id="contact">
        <a href="tel:+380669724134" class="contact__phone">+38 (066) 972 41 34</a>
        <a href="mailto:info@stpnnk.top" class="contact__email">info@stpnnk.top</a>
    
        <div class="contact-soc">
            <a href="https://www.instagram.com/stepanenko3/" target="_blank" class="contact-soc__item">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/stpnnk" target="_blank" class="contact-soc__item">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://t.me/stpnnk" target="_blank" class="contact-soc__item">
                <i class="fa fa-telegram"></i>
            </a>
            <a href="https://github.com/stepanenko3" target="_blank" class="contact-soc__item">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>