.switch {
    display: block;
    cursor: pointer;
    width: rem(54px);
    min-width: rem(54px);
    height: rem(27px);
    font-size: 0;
    align-self: center;
    margin-right: rem(7px);
    position: relative;

    &-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: rem(10px) rem(-15px);
    }

    &-wrapper {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        padding: rem(4px) rem(10px);
        cursor: pointer;

        &-50 {
            min-width: 50%;
            max-width: 50%;
        }

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: rem(13px);
        }
    }

    &__outside {
        display: flex;
        align-items: center;
        height: 100%;
        border-radius: rem(27px);
        padding: rem(2px);
        overflow: hidden;
        transition: 0.25s ease all;
        background: color('gray');
        position: relative;
        width: 100%;
    }

    &__inside {
        border-radius: rem(54px);
        background: color('white');
        position: absolute;
        transition: 0.25s ease all;
        height: rem(25px);
        width: rem(25px);
        left: rem(2px);
        border: rem(1px) solid rgba(color('dark'),.15);
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }

    input:checked ~ &__outside &__inside {
        left: rem(27px);
        background: color('primary');
    }
}