$colors: ('gray': #f7f7f7,
'primary': #0366d6,
// 'primary': #fb4509,
'dark': #333,
'error': #ff3b30,
'white': #fff,
);

$rem-baseline: 16px !default;
$rem-fallback: false !default;
$rem-px-only: false !default;
$icons-class: "fs";
$fonts-path: "/assets/fonts" !default;

$fonts: ('text': '\'Roboto\', sans-serif',
'header': sans-serif,
'icons': 'FontIcons',
);

$z-layers: (
);

$icons: ('heart-o': "\ea01",
'shopping-bag': "\ea02",
'filter': "\ea03",
'menu': "\ea04",
'shopping-cart': "\ea05",
'close': "\ea06",
'check': "\ea07",
'minus': "\ea08",
'plus': "\ea09",
'arrow-left': "\ea10",
'arrow-right': "\ea11",
'arrow-up': "\ea12",
'arrow-down': "\ea13",
'play': "\ea14",
'play-o': "\ea15",
'stop': "\ea16",
'stop-o': "\ea17",
'pause': "\ea18",
'star': "\ea19",
'star-o': "\ea20",
'qr-code': "\ea21",
'avatar': "\ea22",
'reload': "\ea23",
'view': "\ea24",
'warning': "\ea25",
'wallet': "\ea26",
'edit': "\ea27",
'reply': "\ea28",
'share': "\ea29",
'heart': "\ea30",
'scales': "\ea31",
'search': "\ea32",
'credit-card': "\ea33",
'gift': "\ea34",
'package': "\ea35",
'address-book': "\ea36",
'shield': "\ea37",
'copy': "\ea38",
'whatsapp': "\ea39",
'email': "\ea40",
'facebook': "\ea41",
'google-plus': "\ea42",
'telegram': "\ea43",
'twitter': "\ea44",
'video-camera': "\ea45",
'equal': "\ea46",
'address': "\ea47",
'settings': "\ea48",
'credit-card-contactless': "\ea49",
'credit-card-chip': "\ea50",
'network': "\ea51",
'dashboard': "\ea52",
'list': "\ea53",
'factory': "\ea54",
'user': "\ea55",
'clap': "\ea56",
'external-link': "\ea57",
'dollar': "\ea58",
'global': "\ea59",
'slack': "\ea60",
'instagram': "\ea61",
'github': "\ea62",
'tablet': "\ea63",
'mobile': "\ea64",
'laptop': "\ea65",
'desktop': "\ea66",
'mail': "\ea67",
);

$enable-grid-classes: true;

$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;